<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Symfony!</title>
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>
    <h1>heya</h1>
    <p>this is my home page twig template</p>
    <div id="app"></div>
    <script type="text/javascript" src="/home.js"></script>
  </body>
</html>
