<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Symfony!</title>
  </head>
  <body>
    <h1>heya</h1>
    <p>this is my other-page twig template</p>
    <div id="app"></div>
    <script type="text/javascript" src="/otherPage.js"></script>
  </body>
</html>
